NPM-CONFIG(1)                                                    NPM-CONFIG(1)

NAME
       npm-config - Manage the npm configuration files

   Synopsis
         npm config set <key>=<value> [<key>=<value> ...]
         npm config get [<key> [<key> ...]]
         npm config delete <key> [<key> ...]
         npm config list [--json]
         npm config edit
         npm config fix

         alias: c

       Note: This command is unaware of workspaces.

   Description
       npm  gets  its config settings from the command line, environment vari-
       ables, npmrc files, and in some cases, the package.json file.

       See npm help npmrc for more information about the npmrc files.

